/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Mapa */
#map {
    flex: 1;
    height: 100%;
    min-width: 300px;
    background-color: #e0e0e0;
}

/* Formulario */
.form-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 100%;
}

/* Títulos y Formularios */
h1, h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: #666;
}

input, select, button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Barra de progreso */
.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar-inner {
    height: 20px;
    width: 0;
    background-color: #4caf50;
    text-align: center;
    line-height: 20px;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    .form-container {
        max-width: 100%;
        margin-top: 20px;
    }

    #map {
        height: 300px;
        min-width: 100%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    label, input, select {
        font-size: 14px;
    }
}
