{% extends 'dashmenu/main.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Actualizar Cliente</h4>
          <form action="" method="post" class="forms-sample">
            {% csrf_token %}
            
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {{ Clients.Nombre.label_tag }}
                  {{ Clients.Nombre|add_class:"form-control" }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{ Clients.Apellido.label_tag }}
                  {{ Clients.Apellido|add_class:"form-control" }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {{ Clients.Cedula.label_tag }}
                  {{ Clients.Cedula|add_class:"form-control" }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{ Clients.Correo.label_tag }}
                  {{ Clients.Correo|add_class:"form-control" }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {{ Clients.Telefono.label_tag }}
                  {{ Clients.Telefono|add_class:"form-control" }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{ Clients.Tienda.label_tag }}
                  {{ Clients.Tienda|add_class:"form-control" }}
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary mr-2">Actualizar Cliente</button>
            <a href="{% url 'Clientes' %}" class="btn btn-light">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
