{% extends 'dashmenu/main.html' %}
{% load crispy_forms_filters %} 
{% load crispy_forms_tags %} 
{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      {% if perms.inventario.add_unidades %}
      <div class="col-md-6">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              {% if messages %} {% for m in messages %}
              <div
                class="alert alert-success alert-dismissible fade show"
                role="alert"
              >
                {{m}}
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
              {% endfor %} {% endif %}
              <h4 class="card-title">Agregar Unidades</h4>
              <form
                action=""
                method="post"
                enctype="multipart/form-data"
                class="forms-sample"
              >
                <div class="form-group">{% csrf_token %} {{form | crispy}}</div>
                <center>
                  <button type="submit" class="btn btn-primary mr-2">
                    Agregar Unidad
                  </button>
                </center>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Unidades Agregadas</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Asociados</th>
                    {% if perms.inventario.change_unidades %}
                    <th>Acciones</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for u in unidad %}
                  <tr>
                    <td>{{u.unidad}}</td>
                    <td>{{u.productos_count}}</td>
                    <td>
                      <div>
                        {% if perms.inventario.change_unidades %}
                        <a href="{% url 'updateUnidad' u.id %}"
                          ><button class="btn btn-warning">
                            <i
                              class="fa fa-undo"
                              aria-hidden="true"
                            ></i></button
                        ></a>
                        {% endif %} {% if perms.inventario.delete_unidades %}
                        <a href="{% url 'deleteUnidad' u.id %}"
                          ><button class="btn btn-danger btnEliminacion">
                            <i
                              class="fa fa-trash"
                              aria-hidden="true"
                            ></i></button
                        ></a>
                        {% endif %}
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div>
                <center>{% include 'paginator.html' %}</center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
